header{
    position: fixed;
    z-index: 999999;
    margin-bottom: 5%;
    top: 0;
    left:0;
    right: 0;
    height:70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top , transparent 80%, #141414 10%);
    transition:all ease 0.5s;
} 
header.black {
    background-color: #141414;
    background:transparent;
}
.header-logo{
    height: 30px;
    margin-left: 3%;
}
.header-user{
    height: 40px;
    margin-right: 3%;
}
.header-logo img, .header-user img{
    height: 100%;
    border-radius: 3px;
}

.header-options{
    display:flex;
    justify-content:start !important;
    align-items: flex-start;
    margin-left:0;
}

.header-options li {
    display:inline;
    padding-right: 10%;
    margin-right: 3%;
    list-style: none;
}

.header-options ul{
    left:0;
}