.netflix-font{
    font: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    
}

* {
    box-sizing: border-box;   
}

body{
    background-color: #141414;
    color: #FFF;
    margin: 0px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

footer{
    margin : 10px 0;
    text-align:center;
}

.loading{
    position:absolute;
    z-index:999;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    top:0;
    bottom: 0;
    right:0;
    left:0;
}